<div class="card m-3" style="width: 18rem;">
  <div class="img-weapper">
    <!-- <img *ngIf="property.images" src="{{property.images}}" class="card-img-top image-pro" alt="...">
    <img *ngIf="!property.images" src="assets/image/house_default.png" class="card-img-top image-pro" alt="..."> -->

    <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button type="button" routerLink="/" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></button>
      </li>
      <li class="list-inline-item">
        <button type="button" routerLink="/info-propety/{{property.id}}" class="btn btn-warning"><i class="fa-solid fa-circle-info"></i></button>
      </li>
    </ul>
  </div>

  <div class="card-body p-1">
    <h1 class="mb-0"> {{property.bhk}} BHK {{property.ptype}} </h1>

    in {{property?.name}}
    <span *ngIf="property.name">,</span>
    {{property.city}}

    <h6  class="mt-2">{{property.ftype}}
    <span *ngIf="property.ftype !== 'Unfurnished'">Furnished</span>
    <span *ngIf="property.readyToMove"> | Ready to Move</span>
    <span *ngIf="!property.readyToMove"> | Posession: {{property.estPossessionOn | date}}</span>
    </h6>

    <hr class="mt-0 mb-2">

    <h6 class="mb-0">Price: <span class="font-highlight">{{property.price}} USD.</span> |
      Area:  <span class="font-highlight">{{property.builtArea}} Sq Ft </span> </h6>
  </div>
</div>
